@font-face {
  font-family: "iconfont"; /* Project id 2772539 */
  src: url('iconfont.woff2?t=1660274208532') format('woff2'),
       url('iconfont.woff?t=1660274208532') format('woff'),
       url('iconfont.ttf?t=1660274208532') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-emqx-terraform:before {
  content: "\e77b";
}

.icon-xmeter-cloud:before {
  content: "\e72f";
}

.icon-emqx-operator:before {
  content: "\e778";
}

.icon-broker:before {
  content: "\e779";
}

.icon-enterprise:before {
  content: "\e77a";
}

.icon-linkedin:before {
  content: "\f1e7";
}

.icon-twitter:before {
  content: "\e655";
}

.icon-github:before {
  content: "\e885";
}

.icon-stack-overflow:before {
  content: "\e6cc";
}

.icon-bilibili:before {
  content: "\e69c";
}

.icon-wechat:before {
  content: "\e736";
}

.icon-weibo:before {
  content: "\e60f";
}

.icon-youtube:before {
  content: "\ed20";
}

.icon-kuiper:before {
  content: "\e6fa";
}

.icon-cloud:before {
  content: "\e6fb";
}

.icon-fabric:before {
  content: "\e6fd";
}

.icon-neuron:before {
  content: "\e6fe";
}

.icon-edit:before {
  content: "\e6f8";
}

.icon-question:before {
  content: "\e6f9";
}

.icon-useful:before {
  content: "\e6f6";
}

.icon-a-notuseful:before {
  content: "\e6f7";
}

